.navbar{
  padding-left: 0;
  padding-right: 0;

  .navbar-brand{
    font-weight: 400;
  }

  .navbar-nav{
    transition: opacity 0.3s ease-out;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 1rem;
  }
}

// header offset
.offset-header{
  margin-top: $navbar-offset;

  @include media-breakpoint-down(sm) {
    margin-top: $navbar-offset-mobile;
  }
}
