.navbar{
  padding-left: 0;
  padding-right: 0;
  // opacity: 0.9;

  .navbar-brand{
    font-weight: 400;
  }

  .navbar-nav{
    transition: opacity 0.3s ease-out;
  }
}

// header offset
.offset-header{
  margin-top: $navbar-offset;
}
